#submit-con{
	visibility:hidden;
}
#submit-signup{
	visibility:hidden;
}
.margin-top{
	margin-top: 80px;
}
.margin-top-10{
	margin-top: 10px;
}
.footer{
	margin-top: 80px;
}
.hidden{
	visibility:collapse;
}